Python Exercise 1

Question 1

Buatlah code dari tipe integer menjadi variable, lalu print .
contoh : age = 10

In [6]:
a = 2190

print(a)

2190

Question 2

Konversikan tipe data variabel tersebut menjadi string

In [7]:
str(a)

'2190'

Question 3

Konversikan tipe data variabel tersebut menjadi float

In [2]:
float(a)

2190.0

Question 4

Buatlah pemrograman Python untuk menampilkan warna pertama dan terakhir dari tipe data list di bawah

In [9]:
color_list = ["Red","Green","White" ,"Black"]

print('Pertama: ',color_list[0], ', Terakhir: ', color_list[3])  #Mengakses dengan menggunakan Index

Pertama:  Red , Terakhir:  Black

In [ ]:
#Atau dengan menggunakan Negative Index Awal [0] dan [-1] untuk mengakses elemen terakhir

print('Pertama: ',color_list[0], ', Terakhir: ', color_list[-1])

Question 5

Cetak secara reverse list yang tersedia

Contoh:

Input : list = [10, 11, 12, 13, 14, 15]

Output : [15, 14, 13, 12, 11, 10]

In [1]:
#Dengan memanfaatkan Method Built-in Reverse

lst = [1, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
print('list awal: ', lst)

lst.reverse()

print('Hasil List yang di Reverse', lst)

list awal:  [1, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
Hasil List yang di Reverse [50, 45, 40, 35, 30, 25, 20, 15, 10, 5, 1]

In [5]:
#Dapat juga dengan memanfaatkan Negative Indexing
#Kita coba dengan list yang berbeda

lst2 = [11, 5, 17, 18, 23, 50]

lst2

[11, 5, 17, 18, 23, 50]

In [3]:
lst2 = [11, 5, 17, 18, 23, 50]

print('Reverse List: ', lst2[::-1])

Reverse List:  [50, 23, 18, 17, 5, 11]

Question 6

Hilangkan elements dari index 1 sampai 4

In [7]:
lst = [1, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
print('list awal: ', lst)

del lst[1:5]

print('Angka 5 hingga 20 yang telah hilang\n',lst)

#Urutan 1 sampai sebelum ke-5

list awal:  [1, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
Angka 5 hingga 20 yang telah hilang
 [1, 25, 30, 35, 40, 45, 50]

Question 7

Tuliskan Python program untuk menggabungkan dua dictrionary adding values untuk common keys.

d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [9]:
#Menggunakan For Loop

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

for key in d2:
    if key in d1:
        d2[key] = d2[key] + d1[key]
        
c = {**d1, **d2}                    #Menggunakan Double Asterisk(*) di masing-masing dictionary, artinya jika terdapa key yang sama, 
                                    #maka value dari key tersebut akan ditambahkan dan akan menggunakan key value yang paling baru/terakhir
print('d1 dan d2 yang sudah terupdate', d1, d2)
print(c)

d1 dan d2 yang sudah terupdate {'a': 100, 'b': 200, 'c': 300} {'a': 400, 'b': 400, 'd': 400}
{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [13]:
#Dapat juga menggunakan fungsi Counter
#Definisi ulang dictionary nya terlebih dahulu

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

from collections import Counter
         
Cdict = Counter(d1) + Counter(d2)
print(Cdict)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

Question 8

Tuliskan Python program untuk menggabungkan dua dictionary Python

In [14]:
#Jika sebelumnya adalah Menjumlahkan dan Menggabungkan dictionary, maka ini hanya menggabungkan 2 dictionary saja

d1 = {'a': 100, 'b': 200}
d2 = {'b': 100, 'y': 200}

#Dapat menggunakan Syntax yang sama seperti sebelumnya yaitu Double Asterisk(*) atau dengan menggunakan perintah update

{**d1, **d2}

{'a': 100, 'b': 100, 'y': 200}

In [16]:
d1.update(d2)

d1

{'a': 100, 'b': 100, 'y': 200}

Question 9

Kembalikan item yang sama dari kedua set

In [17]:
#karena yang diminta adalah 'item' yang sama maka bisa menggunakan fungsi Intersection, yang merupakan salah satu fungsi ke anggotaan pada python
#intersection atau Irisan berfungsi menggabungkan 2 anggota yang sama dari 2 set yang berbeda, dan menghasilkan 1 set yang berisi anggota yang sama
#Bisa dengan menggunakan syntax 'intersetion' atau menggunakan logika himpunan yang mana Intersection = '&' / dan

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [18]:
set1.intersection(set2)

{30, 40, 50}

In [19]:
set1 & set2

{30, 40, 50}

Question 10

Reverse tipe data tupel di bawah

In [24]:
#Dapat langsung menggunakan Negative Indexing atau dengan method Reverse Indexing, 
#bahkan bisa dengan cara mengconvert tuple tsb ke dalam list, lalu convert lgi ke dalam tuple
#bisa juga dengan menggenakan negative Indexing namun di definisikan dalam sebuah function

tuple1 = (10, 20, 30, 40, 50)

tuple1 [::-1]

(50, 40, 30, 20, 10)

In [23]:
#namun karena ini tuple, harus di definisikan bahwa data tersebut merupakan sebuah tuple
#karena setelah di reverse data tersebut akan di anggap sebuah object

tuple1 = (10, 20, 30, 40, 50)

tuple(reversed(tuple1))

#langsung definisikan bahwa ini adalah tuple di depan

(50, 40, 30, 20, 10)