In [1]:
# menggunakan kurung kurawal
himpunan_siswa = {'Huda', 'Lendis', 'Wahid', 'Basith'}
print(himpunan_siswa)

# mengkonversi list ke dalam set
himpunan_buah = set(['mangga', 'apel'])
print(himpunan_buah)

# set dengan tipe data yang berbeda-beda
set_campuran = {'manusia', 'hewan', 5, True, ('A', 'B')}
print(set_campuran)

{'Wahid', 'Huda', 'Basith', 'Lendis'}
{'apel', 'mangga'}
{('A', 'B'), True, 'hewan', 'manusia', 5}

In [3]:
#Bukti bahwa Sets tidak berurut

himpunan_siswa = {'Huda', 'Lendis', 'Wahid', 'Basith'}
print(himpunan_siswa)

{'Wahid', 'Basith', 'Huda', 'Lendis'}

In [1]:
set_ku = {'a'}
print(set_ku[0])

TypeError: 'set' object is not subscriptable

In [3]:
# anggota set harus dari tipe data yang immutable
set_buah = { 'mangga', 'lemon', 'alpukat', True, 1, 2, 3 }

# kita bisa menjadikan tuple sebagai anggota
# karena ia bersifat immutable
papan_ketik = {
  (1, 2, 3),
  (4, 5, 6),
  (7, 8, 9),
  (0)
}

print(set_buah)
print(papan_ketik)

{True, 2, 3, 'mangga', 'lemon', 'alpukat'}
{0, (7, 8, 9), (1, 2, 3), (4, 5, 6)}

In [5]:
x = { 35, 100, ['a', 'b'] }

TypeError: unhashable type: 'list'

In [6]:
list_kata = [
  'pagi', 'ini', 'adalah', 'pagi', 'yang',
  'sangat', 'cerah'
]

print(list_kata)

['pagi', 'ini', 'adalah', 'pagi', 'yang', 'sangat', 'cerah']

In [7]:
kata_unik = {
  'pagi', 'ini', 'adalah', 'pagi', 'yang',
  'sangat', 'cerah'
}

# atau bisa langsung konversi list_kata menjadi set
# supaya lebih ringkas:
# kata_unik = set(list_kata)

print(kata_unik)

{'sangat', 'yang', 'cerah', 'ini', 'adalah', 'pagi'}

In [8]:
himpunan_abjad = {'a', 'b', 'c'}
print(himpunan_abjad)

# menambah satu-satu
himpunan_abjad.add('d')
himpunan_abjad.add('e')

# menambah lebih dari satu anggota sekaligus
himpunan_abjad.update({ 'f', 'g' })
# bisa juga pakai list
himpunan_abjad.update(['h', 'i'])

print(himpunan_abjad)

{'a', 'c', 'b'}
{'i', 'e', 'g', 'f', 'a', 'c', 'b', 'h', 'd'}

In [17]:
himpunan = {'maya', 'budi', 100, ('a', 'b'), False, True}
print(himpunan)

{'maya', False, True, 'budi', 100, ('a', 'b')}

In [18]:
# akan error jika nilai 100 tidak ada di dalam set
himpunan.remove(100)
print(himpunan)

{'maya', False, True, 'budi', ('a', 'b')}

In [19]:
# akan error jika nilai 100 tidak ada di dalam set
himpunan.remove(100)
print(himpunan)

KeyError: 100

In [20]:
# tidak akan error jika ('a', 'b') tidak ada di dalam set
himpunan.discard(('a', 'b'))
print(himpunan)

{'maya', False, True, 'budi'}

In [21]:
# remove nilai yang ada di sebelah kiri
nilaiYangDihapus = himpunan.pop()
print('nilaiYangDihapus =', nilaiYangDihapus)
print(himpunan)

nilaiYangDihapus = maya
{False, True, 'budi'}

In [22]:
# hapus semua nilai
himpunan.clear()
#print(himpunan)

set()

In [24]:
#Keanggotaan pada Python

grup_smp = {'andi', 'budi', 'ratna', 'sari'}

grup_sma = {'putri', 'ratna', 'andi', 'agus'}

print(grup_smp)
print(grup_sma)

{'budi', 'andi', 'sari', 'ratna'}
{'putri', 'andi', 'ratna', 'agus'}

In [26]:
# cara 1
print(grup_smp | grup_sma)

{'putri', 'budi', 'sari', 'ratna', 'andi', 'agus'}

In [27]:
# cara 2
print(grup_smp.union(grup_sma)

SyntaxError: unexpected EOF while parsing (786293202.py, line 2)

In [29]:
# Membuat set A and B 
A = {1, 2, 3, 4, 5} 
B = {4, 5, 6, 7, 8}

print(A)
print(B)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [30]:
# Gabungan menggunakan operator | palang
# output: {1, 2, 3, 4, 5, 6, 7, 8} 
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [31]:
# Membuat set A and B 
C = {1, 2, 3, 4, 5} 
D = {4, 5, 6, 7, 8}

print(C)
print(D)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [32]:
# Menggunakan fungsi union() 
# output: {1, 2, 3, 4, 5, 6, 7, 8} 
C.union(D)

{1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
print(grup_smp & grup_sma) # cara 1

{'andi', 'ratna'}

In [35]:
print(grup_smp.intersection(grup_sma)) # cara 2

{'andi', 'ratna'}

In [37]:
# Membuat set A and B 
A = {1, 2, 3, 4, 5} 
B = {4, 5, 6, 7, 8} 

print(A)
print(B)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [38]:
# Irisan menggunakan operator & 
# output: {4,5} 
print(A & B)

{4, 5}

In [39]:
# Menggunakan fungsi intersection() 
# output: {4,5} 
A.intersection(B)

{4, 5}

In [40]:
# difference
print('\nanggota grup smp yang bukan anggota grup sma')
print(grup_smp - grup_sma)
print(grup_smp.difference(grup_sma))

anggota grup smp yang bukan anggota grup sma
{'budi', 'sari'}
{'budi', 'sari'}

In [41]:
print('\ndibalik, anggota grup sma yang bukan anggota grup smp:')
print(grup_sma - grup_smp)
print(grup_sma.difference(grup_smp))

dibalik, anggota grup sma yang bukan anggota grup smp:
{'putri', 'agus'}
{'putri', 'agus'}

In [47]:
# symmetric_difference
print('\nanggota yang hanya ikut satu grup saja:')
print(grup_sma.symmetric_difference(grup_smp))

anggota yang hanya ikut satu grup saja:
{'putri', 'budi', 'sari', 'agus'}

In [42]:
# membuat A and B 
A = {1, 2, 3, 4, 5} 
B = {4, 5, 6, 7, 8} 

print(A)
print(B)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [43]:
# Menggunakan operator - pada A 
# Output: {1, 2, 3} 
print(A - B)

{1, 2, 3}

In [44]:
# Output: {1, 2, 3} 
A.difference(B)

{1, 2, 3}

In [45]:
# Menggunakan operator - pada B 
# Output: {8, 6, 7} 
print(B - A)

{8, 6, 7}

In [46]:
# Output: {8, 6, 7} 
B.difference(A)

#Kok jadi acak ya?

{6, 7, 8}

In [49]:
# membuat A and B 
A = {1, 2, 3, 4, 5} 
B = {4, 5, 6, 7, 8} 

print(A)
print(B)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [50]:
# Menggunakan operator ^ pada A 
# Output: {1, 2, 3, 6, 7, 8} 
print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [51]:
# Output: {1, 2, 3, 6, 7, 8} 
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [52]:
# Menggunakan operator ^ pada B 
# Output: {1, 2, 3, 6, 7, 8} 
print(B ^ A)

{1, 2, 3, 6, 7, 8}

In [53]:
# Output: {1, 2, 3, 6, 7, 8} 
B.symmetric_difference(A)

{1, 2, 3, 6, 7, 8}