In [4]:
#TUPLE STRUCTURE

# cara standar
tuple_jenis_kelamin = ('laki-laki', 'perempuan')

# tanpa kurung
tuple_status_perkawinan = 'menikah', 'lajang'

# menggunakan fungsi tuple()
tuple_lulus = tuple(['lulus', 'tidak lulus'])

print(tuple_jenis_kelamin)
print(tuple_status_perkawinan)
print(tuple_lulus)

('laki-laki', 'perempuan')
('menikah', 'lajang')
('lulus', 'tidak lulus')

In [ ]:
#Cara yang pertama adalah cara standar dan paling dasar
#Cara yang kedua tanpa tanda kurung. Ini mungkin kelihatan agak aneh, tapi yang seperti ini normal di python üòè
#Cara yang ketiga adalah dengan menggunakan fungsi tuple() dan melemparkan list sebagai parameternya.

In [6]:
#Untuk membuat tuple kosong, kita cukup dengan menuliskan dua tanda kurung seperti berikut:

tuple_kosong = ()

print(tuple_kosong)

()

In [7]:
#Untuk mendefinisikan tuple yang hanya berisi SATU ITEM, kita tetap diharuskan menulis tanda koma.

tuple_tunggal = (10,)

print(tuple_tunggal)

(10,)

In [9]:
#Karena jika tidak, maka python akan menganggap tanda kurungnya tidak ada dan hanya akan berupa Integer biasa dan bukan Tuple

print(type((10))) # yang ini dianggap integer biasa
print(type((10,))) # yang ini dianggap tuple

<class 'int'>
<class 'tuple'>

In [10]:
#Indexing

tuple_jenis_kelamin = ('laki-laki', 'perempuan')

print(tuple_jenis_kelamin[1]) # indeks satu
print(tuple_jenis_kelamin[0]) # indeks nol

perempuan
laki-laki

In [11]:
#Negative Index

print(tuple_jenis_kelamin[-2])
print(tuple_jenis_kelamin[-1])

laki-laki
perempuan

In [12]:
#Slicing Tuple dengan batas

tuple_buah = ('Pisang', 'Nanas', 'Melon', 'Durian')

print(tuple_buah[0:1])
print(tuple_buah[0:2])
print(tuple_buah[1:3])
print(tuple_buah[0:-1])
print(tuple_buah[-1:-3])
print(tuple_buah[-1:3])
print(tuple_buah[-3:-1])

('Pisang',)
('Pisang', 'Nanas')
('Nanas', 'Melon')
('Pisang', 'Nanas', 'Melon')
()
()
('Nanas', 'Melon')

In [13]:
#Slicing Tuple tanpa batas

tuple_buah = ('Pisang', 'Nanas', 'Melon', 'Durian')

print(tuple_buah[0:])
print(tuple_buah[1:])
print(tuple_buah[2:])
print(tuple_buah[3:])
print(tuple_buah[:0])
print(tuple_buah[:1])
print(tuple_buah[:2])
print(tuple_buah[:3])
print(tuple_buah[:4])

('Pisang', 'Nanas', 'Melon', 'Durian')
('Nanas', 'Melon', 'Durian')
('Melon', 'Durian')
('Durian',)
()
('Pisang',)
('Pisang', 'Nanas')
('Pisang', 'Nanas', 'Melon')
('Pisang', 'Nanas', 'Melon', 'Durian')

In [15]:
# mencoba edit data list
list_siswa = ['Andi', 'Budi']
list_siswa[0] = 'Ardi'

# mencoba edit data tuple
tuple_siswa = ('Andi', 'Budi')
tuple_siswa[0] = 'Ardi'

#TUPLE tidak bisa diubah, berbeda dengan list

TypeError: 'tuple' object does not support item assignment

In [20]:
siswa = ('Jathy Hardhiyan', 'Magelang', 18)

# ekstrak data atau juga dinamakan sequence unpacking
nama, asal, usia = siswa

# setiap variabel di atas akan memiliki nilai dari tiap isi tuple
# secara berurutan
print('Nama:', nama)
print('Asal:', asal)
print('Usia:', usia)

#Variabel nama memiliki nilai dari siswa[0]
#Variabel asal memiliki nilai dari siswa[1]
#Variabel usia memiliki nilai dari siswa[2]

Nama: Jathy Hardhiyan
Asal: Magelang
Usia: 18

In [23]:
#Menggabungkan 2 Tuple berbeda menjadi 1

a = (1, 2, 3)
b = (50, 60, 70)

Join_Tuple = a + b

print(Join_Tuple)

(1, 2, 3, 50, 60, 70)

In [25]:
print(min(a))

print(max(b))

len((Join_Tuple))

1
70

6