Sebelumnya bisa diasumsikan kita telah mengetahui bahwa ada beberapa tipe data pada python. Baik tipe data yang bersifat asli (primitif) mau pun tipe data yang tergolong canggih karena ia merupakan susunan dari tipe data asli lainnya.

Dari None, Int, str, float hingga list, tuple, dict, set, dan lainnya.

Kita bisa memeriksa jenis tipe data dari variabel yang di definisikan menggunakan fungsi type(). 

lalu bagaimana jika kita menemukan kasus dimana variabel yang ada saat ini, membutuhkan tipe data yang berbeda dari tipe data yang kita inginkan? jawabanya yaitu dengan melakukan konversi.

lalu Apa itu Konversi Tipe Data?

Konversi tipe data adalah teknik mengubah nilai yang awalnya dari tipe data a, menjadi tipe data b. Terdapat 2 cara dalam mengkonversi tipe data:

- Konversi secara implisit (otomatis)
- Konversi secara eksplisit (manual)

Kenapa Data Butuh Dikonversi?

Jawabannya adalah: tidak semua data itu valid dan tidak semua data itu bisa kita oleh sesuai kebutuhan.

Lalu kenapa Data bisa tidak Valid?

Contoh, kita meminta user untuk menginputkan data usia. User menuliskan angka usianya. Akan tetapi, python justru menganggap data tersebut sebagai string, bukan integer.

In [1]:
usia = input('Masukkan usia anda: ')        #Usia yang kita masukkan akan otomatis berupa string

print(type(usia))

<class 'str'>

Sedangkan jika kita berusaha mengoperasikan (misal perkalian) string dan integer, 
atau string dan string, maka (secara umum) kita akan mendapatkan error.

In [2]:
panjang = input('Masukkan panjang: ')
lebar = input('Masukkan lebar: ')

print('Luas =', panjang * lebar)

TypeError: can't multiply sequence by non-int of type 'str'

Karena tidak semua data itu tipe datanya valid, yang mana mengakibatkan tidak bisa diolahnya data tersebut, oleh karena itu mengkonversi tipe data sesuai kebutuhan merupakan sesuatu yang penting

Model Konversi implisit adalah proses pengkonversian tipe data yang terjadi secara otomatis dibalik layar, tanpa perlu kita instruksi secara langsung.

Seperti hasil dari operasi pembagian antar dua bilangan akan otomatis dikonversi menjadi tipe data float.

In [3]:
a = 10 / 2
print(type(a))

b = 1 / 2
print(type(b))

<class 'float'>
<class 'float'>

Hal ini juga berlaku untuk penjumlahan atau perkalian atau pengurangan jika salah satu operan-nya adalah bilangan pecahan

In [4]:
c = 10 + 5 # hasilnya integer
print(type(c))

d = 10 + 5.0 # hasilnya float
print(type(d))

e = 10.5 - 3 # hasilnya float
print(type(e))

<class 'int'>
<class 'float'>
<class 'float'>

Demikian pula dengan perkalian antara string dan integer, ia akan menghasilkan sebuah string:

In [5]:
kata = 'Jeruk ' * 5

print(kata)
print(type(kata))

Jeruk Jeruk Jeruk Jeruk Jeruk
<class 'str'>

Konversi Tipe Data Secara Eksplisit

Kita tahu bahwa tidak semua operasi dari tipe data yang berbeda bisa dikonversi dengan benar oleh python. Beberapa di antaranya justru menghasilkan error jika tidak kita konversi manual. Proses konversi manual ini lah yang dinamakan sebagai tipe data casting secara eksplisit.

Dalam python, kita bisa mengkonversi tipe data secara eksplisit dengan memanggil fungsi konstruktor dari masing-masing tipe data.

Untuk tipe data primitif, kita bisa memanggil fungsi berikut:

- int() - untuk konversi data ke integer
- float() - untuk konversi data ke float
- bool() - untuk konversi data ke bool
- str() - untuk konversi data string (sebagian orang menyebutkan bahwa string adalah tipe data primitif pada python)

Dan untuk tipe data lain yang tergolong tipe data canggih (atau buatan), kita juga bisa memanggil masing-masing konstruktornya untuk melakukan tipe data casting, semisal:

- list() - untuk list
- set() - untuk set
- tuple() - untuk tuple

String ke Numerik

Mari kita mencoba mengkonversi string ke numerik dengan memperbaiki kode program di bawah ini:

In [6]:
#Ini akan menghasilkan Error dikarenakan kita tidak bisa 'mengalikan' string dengan string secara langsung

panjang = input('Masukkan panjang: ')
lebar = input('Masukkan lebar: ')

print('Luas =', panjang * lebar)

TypeError: can't multiply sequence by non-int of type 'str'

Yang harus kita lakukan adalah mengkonversinya terlebih dahulu, entah ke integer menggunakan fungsi int(), atau ke float menggunakan fungsi float().

In [10]:
panjang = int(input('Masukkan panjang: '))
lebar = float(input('Masukkan lebar: '))

print('Luas =', int(panjang * lebar)) #Integer bisa diganti dengan float atau sebaliknya

Luas = 1089

Numerik ke String

Sebaliknya, pada saat-saat tertentu kita justru butuh untuk mengkonversi data numerik ke dalam string. Kita bisa dengan mudah menggunakan fungsi konstruktor str().

In [12]:
nama = 'Wudi'
tahun_lahir = 2000

print(nama + ' lahir di tahun ' + str(tahun_lahir)) #akan error jika kita tidak mengubahnya mnjadi string 

#Karena proses penggabungan string hanya bisa dilakukan oleh 2 buah string, 
#jika salah satunya numeric (integer / float) maka harus dikonversi terlebih dahulu.

#Lebih lanjutnya bisa dibuka manipulasi string

Wudi lahir di tahun 2000

Konversi ke Boolean
Kita bisa melakukan konversi ke boolean dengan menggunakan fungsi bool().

Data yang bernilai “putih” atau kosong akan dianggap dan dikonversi sebagai False, sebaliknya data yang bernilai “hitam” atau tidak kosong akan dianggap dan dikonversi menjadi True.

Di antara data yang dianggap False:

None - kosong

0 - integer kosong

0.0 - float kosong

"" - string kosong

[] - list kosong

() - tuple kosong

{} - dictionary kosong

Selain dari itu, data-data yang tidak “putih” akan dianggap sebagai True.

In [13]:
print(type(None), '->', bool(None))
print(type(0), '->', bool(0))
print(type(0.0), '->', bool(0.0))
print(type(""), '->', bool(""))
print(type([]), '->', bool([]))
print(type(()), '->', bool(()))
print(type({}), '->', bool({}))

print("-" * 20)

print(type(5), '->', bool(5))
print(type(-14.5), '->', bool(-14.5))
print(type("Aku"), '->', bool("Aku"))
print(type([1, 2, 3]), '->', bool([1, 2, 3]))
print(type(("a", "b", False)), '->', bool(("a", "b", False)))
print(type({ 'nama': 'Lendis Fabri' }), '->', bool({ 'nama': 'Lendis Fabri' }))

<class 'NoneType'> -> False
<class 'int'> -> False
<class 'float'> -> False
<class 'str'> -> False
<class 'list'> -> False
<class 'tuple'> -> False
<class 'dict'> -> False
--------------------
<class 'int'> -> True
<class 'float'> -> True
<class 'str'> -> True
<class 'list'> -> True
<class 'tuple'> -> True
<class 'dict'> -> True

Konversi Dari dan Ke List, Set dan Tuple

Untuk tipe data berjenis koleksi, kita juga bisa melakukan konversi satu sama lain dengan fungsi konstruktor dari masing-masing tipe data:

fungsi list() untuk list

fungsi set() untuk set

fungsi tuple() untuk tuple